extends layout

block content
  .container-fluid
    #errors.col-sm-6.col-sm-offset-3
      h1 OOOPPPPSSS... 
        span Page not found
      p We don't know how you end up here but you should go 
        a(href="/", rel="") home 
        span now.
