extends layout

block content
  div(id='react')
    div 
      div!= reactString
  
block script
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
  script const CURRENT_USER = !{JSON.stringify(currentUser)}
  if process.env.SwiftEnv == 'production'
    script(type="text/javascript" src="/javascripts/app.min.js")
  else 
    script(type="text/javascript" src="/javascripts/app.js")
